<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
      <img id="othelloImg" src="images/othello.png" width="30">
      <div id="line" style="background-color:black; width:0.5px; height:30px;"></div>
      <p id="appTitle">Yamada Othello</p>
      <a href="/"><img class="img" src="images/user.png" alt="TAG index" border="0"　width="25"  height="25"></a>
      <a href="/opponent"><img class="img" src="images/battle.png" alt="TAG index" border="0"　width="25"  height="25"></a>
      <a href="/color"><img class="img" src="images/color.png" alt="TAG index" border="0"　width="25"  height="25"></a>
    </div>

    <div class="container">
      <div class="row userInfoBox">
        <div class="iconBox col-md-2 offset-md-2">
          <div id="drawAre">
            <canvas id="userImg" width="150" height="150"></canvas>
            <canvas id="testImg" width="150" height="150"></canvas>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 userInfoRightBox">
          <div class="row">
            <h1 id="userName"></h1>
          </div>
          <div class="row countBox">
            <div class="col-md-3">
              <h6 id="colorNumber"><h6>
            </div>
            <div class="col-md-3">
              <h6>勝利0回</h6>
            </div>
            <div class="col-md-3">
              <h6>敗北0回</h6>
            </div>
          </div>
          <div class="row btnBox">
            <div class="col-md-5">
              <button id="editIconBtn" class="userBtn" onClick="editIcon();">アイコン編集</button>
            </div>
            <div class="col-md-5">
              <button id="logout" class="userBtn" onClick="logout();">ログアウト</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1 colorListBox text-center">
          <h6 id="colorListTitle">カラーリスト</h6>
          <div class="row colorRow">
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap読み込み -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/popper.js/dist/umd/popper.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- jsファイル読み込み -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='javascripts/index.js'></script>
  </body>
</html>
